<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.solamly.musicmodule">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
    >
<activity android:name="com.solamly.module_music.view.activity.MusicMainActivity"/>
    </application>

</manifest>
